body {
  -webkit-user-select: none;
}

#responceTextarea, #nav-body-views, #nav-body-ctrls, #scrolldiv, #pageTx {
  -webkit-user-select: text;
}

div.fp-controlArrow.fp-prev {
    display: none;
}
div.fp-controlArrow.fp-next {
    display: none;
}

#codContainer, #constructorTable, #resultCard, #itemTools, #toolsTab {
  display: none;
}

.autocomplete-suggestions {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  overflow: auto;
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-no-suggestion {
  padding: 2px 5px;
}
.autocomplete-selected {
  background: #F0F0F0;
}
.autocomplete-suggestions strong {
  font-weight: bold; color: #000;
}
.autocomplete-group {
  padding: 2px 5px;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  display: block;
  border-bottom: 1px solid #000;
}

#searchBar {
  width: 100%;
  height: 100%;
}

#nav-body-views {
  height: 80%;
}

#statusbar {
  position: relative;
  left: 180px;
  top: 22px;
  display: none;
}

#settings-btn {
  position: absolute;
  right: 25px;
  top: 18px;
}

#scrolldiv {
  height: 150px;
  width: 740px;
  overflow: scroll;
}

#fullpage, .navbar.navbar-expand-lg.navbar-dark.bg-dark {
  display: none;
}

#spinner {
  position: absolute;
  left: 13%;
  top: 30%;
}

.section {
  padding: 0px !important;
}

#logo {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 20px;
  top: -40px;
  /* top: 30px; */
}

.left.hide-on-med-and-down {
  position: relative;
  left: 180px;
}

#pageTx {
  overflow-y: scroll;
  height: 180px;
}

#constructor-table {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
